<!doctype html>
<html lang="en" xmlns="https://www.thymeleaf.org/" 
th:replace="base::layout(~{::section})">
  <head>
    <meta charset="ISO-8859-1">
    <title>TITLE PLS</title>
  </head>
  <body>
     <section>
      <style>
        body {
          padding: 0;
          margin: 0;
          background-color: antiquewhite;
        }
      </style>

      <div class = "container">
        <h1 style = "color: brown;">Customer Registration Form</h1>
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Customer ID</label>
                <input type="text" class="form-control" placeholder="Enter customer ID">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text"  class="form-control" placeholder="Enter username">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter password">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Gcash Name</label>
                <input type="text" class="form-control" placeholder="Enter gcash name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Gcash Number</label>
                <input type="number" class="form-control" placeholder="Enter gcash number">
              </div>
              <button type = "button"onclick="location.href='index' ">submit</button>
        </form>
        </div>
      
    <div 







  
  </body>
</html>